/*
** IUT PROJECT, 2023
** VCOD S4
** File description:
** style.css
*/

header {
    background-color: black;
    text-align: center;
    text-decoration-color: white;
    color:white;
}

.temps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
    color: black;
}
.temps div {
    width: 33%;
}
.temps h2 {
    width: 100%;
}

footer {
    background-color: lightgrey;
    color: black;
}